<div class="product-card" (click)="gotoProductDetail()">
  <div class="image-container">
    <span class="category-badge">{{ product.category }}</span>
    <button class="wishlist-btn">
      <i class="bi bi-heart"></i>
    </button>
    @if (product.imgUrl) {
      <img 
        class="image" 
        [src]="'http://localhost:4000/' + product.imgUrl" 
        [alt]="product.name"
      >
    } @else {
      <img 
        class="image" 
        src="http://localhost:4000/uploads/1735588001278-photo_2024-11-21_19-21-24.jpg" 
        alt="Default Product Image"
      >
    }
  </div>

  <div class="product-content">
    <h6 class="product-name">{{ product.name }}</h6>
		<p>{{product.category}}</p>
    
    <div class="rating-stars">
      <i class="bi bi-star-fill star"></i>
      <i class="bi bi-star-fill star"></i>
      <i class="bi bi-star-fill star"></i>
      <i class="bi bi-star-fill star"></i>
      <i class="bi bi-star-fill star"></i>
      <span class="rating-count">(5)</span>
    </div>

    <div class="price-container">
      <span class="price">${{ product.price }}</span>
      <button class="cart-btn" (click)="$event.stopPropagation()">
        <i class="bi bi-cart-plus"></i>
      </button>
    </div>
  </div>
</div>
  